//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'StackBlend - Authenticate'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'StackBlend - Authenticate')
    meta(property="og:url" content=headers && headers.linkUrl || '/account/authenticate')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include ../../_header.pug
  body(style="-webkit-background-size: cover; background-image: url(https://stackblend-static-files.s3-us-west-1.amazonaws.com/federa_lake.jpg); background-position: center center; background-size: cover")
    
    .internal-fsb-begin(internal-fsb-animation="d0e675b7", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        span(internal-fsb-init-class="Project.Controls.FlowLayout_4d816ba8" internal-fsb-init-forward="{'classes': 'col-12', 'styles': {}}")
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var element = this.getElementUsingGUID(guid);
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include ../../_footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.