nav.navbar.navbar-light.bg-light.toolbar.py-1.px-0.w-100
  .container-fluid.px-2
    .mr-auto.py-1
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-sitemap.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Explore Sitemap</b></p><p>This will show all pages on front-end which web cilents can see.</p>")
            i.fa.fa-sitemap
            | Site
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Design Data Flow</b></p><p>Planing all relational DBMS, document stores, in-memory data stores, background processing queues, schedulers, and relations between them.</p>")
            i.fa.fa-database
            | Data
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Customize Services</b></p><p>Manage custom services on server-side to process jobs which require huge CPU and GPU consumption.</p>")
            i.fa.fa-cogs
            | Services
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Drawing Components</b></p><p>Create and manage all reusable components for placing throughout the site.</p>")
            i.fa.fa-puzzle-piece
            | Components
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Drawing Popups</b></p><p>Create and manage all reusable popups for prompting over any pages on client-side.</p>")
            .span(style='width: 18px; height: 18px; margin-right: 6px; display: inline-block; position: relative;')
              i.fa.fa-desktop
              i.fa.fa-square(style='position: absolute; font-size: 8px; left: 5px; top: 5.5px;')
              | Popups
      .btn-group.btn-group-toggle(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.active(data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Switch to Desktop Layout</b></p><p>Design the placement and sizing of the desktop layout which is independent from the mobile layout.</p>")
          input(type='radio', name='options', checked=true)
          i.fa.fa-desktop.m-0
        label.btn.btn-secondary.btn-sm.btn-light(data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Switch to Mobile Layout</b></p><p>Design the placement and sizing the mobile layout but won't be able to delete any elements from the page.</p>")
          input(type='radio', name='options', checked=false)
          i.fa.fa-mobile.m-0(style='font-size: 18px;')
    .mx-auto.py-1
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', onclick='perform("undo", null)', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Reverse Editing</b></p><p>This will reverse your changes of cursor position, element inserting, deleting, and modification.</p>")
        i.fa.fa-undo.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', onclick='perform("redo", null)', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Do It Again</b></p><p>This will reverse your changes of undoing.</p>")
        i.fa.fa-repeat.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Save</b></p><p>This will save your changes, which can do it more frequently using ctrl+s on windows or command+s on mac.</p>")
        i.fa.fa-save.m-0
      a.btn.btn-sm.btn-light(href='#', role='button', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Deploy</b></p><p>Publish and deploy your changes on the web so that your clients can use or play it.</p>")
        i.fa.fa-cloud-upload.m-0
    .mx-auto.py-1
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-reorder.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(onclick='perform("insert", "vertical-layout")', data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Vertical Stack</b></p><p>This will let you placing different things ordering from top to bottom in a single column.</p>")
            i.fa.fa-reorder
            | Vertical
          a.dropdown-item(onclick='perform("insert", "horizontal-layout")', data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Horizontal Stack</b></p><p>This will let you placing different things ordering from left to right in a single row.</p>")
            i.fa.fa-reorder.fa-rotate-90(style='position: relative; left: -5px;')
            | Horizontal
          a.dropdown-item(onclick='perform("insert", "table-layout")', data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Table Stack</b></p><p>This will let you placing items in a fixed-size table.</p>")
            i.fa.fa-table
            | Table
          a.dropdown-item(onclick='perform("insert", "flow-layout")', data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Flow</b></p><p>This will let you placing items from left to right and auto-creating new lines where are overflow.</p>")
            i.fa.fa-th
            | Flow
          a.dropdown-item(onclick='perform("insert", "absolute-layout")', data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Freestyle Area</b></p><p>This will create an auto-height area for placing any elements in absolute, or independent, position.</p>")
            i.fa.fa-object-ungroup
            | Absolute
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Insert A Rich Textarea</b></p><p>Create a rich textarea in which you can type any text, insert inline multimedia, hyperlinks, and others.</p>")
        i.fa.fa-paragraph.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Insert A Rectangle Shape</b></p><p>Create a rectangle whose size, border, and colour can be adjusted. It does also allow you to place any layouts and items in it, too.</p>")
        i.fa.fa-square-o.font-weight-bold.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', style='position: relative;', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Insert An HTML Element</b></p><p>You can use this HTML element to insert any website interface, their JavaScript codes and custom CSS styles.</p>")
        i.fa.fa-square-o.font-weight-bold.m-0
        i.fa.fa-code.font-weight-bold(style='position: absolute; font-size: 7px; left: 7.75px; top: 11px;')
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', style='position: relative;', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Insert A 2D-3D Canvas</b></p><p>You can use this WebGL canvas to draw anything from 2D to 3D, with ease of importing models, textures, and shader parameters.</p>")
        i.fa.fa-square-o.font-weight-bold.m-0
        i.font-weight-bold(style='position: absolute; font-size: 6px; left: 15px; top: 9.5px;')
          | gl
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-image.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert An Image</b></p><p>Upload or choose an existing image, with full control of image size optimization for fastest site loading.</p>")
            i.fa.fa-image
            | Image
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Insert A Video</b></p><p>Upload or choose an existing video file, which will be automatically encoded into different sizes and formats, so that it will be playable on all major browsers and operating systems.</p>")
            i.fa.fa-file-movie-o
            | Movie
      .dropdown(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-puzzle-piece.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Create A Component</b></p><p>Create a reusable component for placing throughout the site.</p>")
            i.fa.fa-plus
            | Create
    .mx-auto.py-1
      .dropdown(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-glide-g.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(data-toggle="tooltip" data-placement="right" data-html="true" title="<p><b>Adding Guide</b></p><p>A designer tool [todo]</p>")
            i.fa.fa-plus
            | Add
    .ml-auto.py-1
      .btn-group.btn-group-toggle.mr-1(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.active(data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Switch to Element Design</b></p><p>This will allow you to design and configure the properties of the selected element.</p>")
          input(type='radio', name='options', checked=true)
          i.fa.fa-paint-brush.m-0
        label.btn.btn-secondary.btn-sm.btn-light(data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Switch to Element Animation</b></p><p>This will allow you to design the animation of the selected element.</p>")
          input(type='radio', name='options', checked=false)
          i.fa.fa-bolt.m-0
        label.btn.btn-secondary.btn-sm.btn-light(data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Switch to Element Coding</b></p><p>This will allow you to add a specific coding of the selected element at front-end and back-end using JavaScript language.</p>")
          input(type='radio', name='options', checked=false)
          i.fa.fa-code.font-weight-bold.m-0
      a.btn.btn-sm.btn-light(href='#', role='button', data-toggle="tooltip" data-placement="bottom" data-html="true" title="<p><b>Play</b></p><p>Preview your pages and their animations right from the workspace area without leaving the editor.</p>")
        i.fa.fa-play.m-0