nav.navbar.navbar-light.bg-light.toolbar.py-1.px-0.w-100
  .container-fluid.px-2
    .mr-auto.py-1
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-sitemap.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item
            i.fa.fa-sitemap
            | Site
          a.dropdown-item
            i.fa.fa-database
            | Data
          a.dropdown-item
            i.fa.fa-cogs
            | Services
          a.dropdown-item
            i.fa.fa-puzzle-piece
            | Components
          a.dropdown-item
            .span(style='width: 18px; height: 18px; margin-right: 6px; display: inline-block; position: relative;')
              i.fa.fa-desktop
              i.fa.fa-square(style='position: absolute; font-size: 8px; left: 5px; top: 5.5px;')
              | Popups
      .btn-group.btn-group-toggle(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.active
          input(type='radio', name='options', checked=true)
          i.fa.fa-desktop.m-0
        label.btn.btn-secondary.btn-sm.btn-light
          input(type='radio', name='options', checked=false)
          i.fa.fa-mobile.m-0(style='font-size: 18px;')
    .mx-auto.py-1
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', onclick='perform("undo", null)')
        i.fa.fa-undo.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', onclick='perform("redo", null)')
        i.fa.fa-repeat.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button')
        i.fa.fa-save.m-0
      a.btn.btn-sm.btn-light(href='#', role='button')
        i.fa.fa-cloud-upload.m-0
    .mx-auto.py-1
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-reorder.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item(onclick='perform("insert", "vertical-layout")')
            i.fa.fa-reorder
            | Vertical
          a.dropdown-item(onclick='perform("insert", "horizontal-layout")')
            i.fa.fa-reorder.fa-rotate-90(style='position: relative; left: -5px;')
            | Horizontal
          a.dropdown-item(onclick='perform("insert", "flow-layout")')
            i.fa.fa-th
            | Flow
          a.dropdown-item(onclick='perform("insert", "absolute-layout")')
            i.fa.fa-object-ungroup
            | Absolute
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button')
        i.fa.fa-table.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button')
        i.fa.fa-paragraph.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button')
        i.fa.fa-square-o.font-weight-bold.m-0
      a.btn.btn-sm.btn-light.mr-1(href='#', role='button', style='position: relative;')
        i.fa.fa-square-o.font-weight-bold.m-0
        i.fa.fa-code.font-weight-bold(style='position: absolute; font-size: 7px; left: 7.5px; top: 11px;')
      .dropdown.mr-1(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-image.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item
            i.fa.fa-image
            | Image
          a.dropdown-item
            i.fa.fa-file-movie-o
            | Movie
      .dropdown(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-puzzle-piece.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item
            i.fa.fa-plus
            | Create
    .mx-auto.py-1
      .dropdown(style='display: inline;')
        a.btn.dropdown-toggle.btn-sm.btn-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-glide-g.m-0
        .dropdown-menu(aria-labelledby='dropdownMenuLink')
          a.dropdown-item
            i.fa.fa-plus
            | Add
    .ml-auto.py-1
      .btn-group.btn-group-toggle.mr-1(data-toggle='buttons')
        label.btn.btn-secondary.btn-sm.btn-light.active
          input(type='radio', name='options', checked=true)
          i.fa.fa-paint-brush.m-0
        label.btn.btn-secondary.btn-sm.btn-light
          input(type='radio', name='options', checked=false)
          i.fa.fa-bolt.m-0
        label.btn.btn-secondary.btn-sm.btn-light
          input(type='radio', name='options', checked=false)
          i.fa.fa-code.font-weight-bold.m-0
      a.btn.btn-sm.btn-light(href='#', role='button')
        i.fa.fa-play.m-0