
link(rel="stylesheet" href="/css/embed.css")
link(rel="stylesheet" type="text/css" href="/js/libraries/bootstrap@4/bootstrap-4.4.1.min.css")

style(type="text/css").
  .internal-fsb-element.-fsb-self-7003c7d5, .internal-fsb-element.-fsb-preset-7003c7d5 { -fsb-reusable-id: 7003c7d5; -fsb-reusable-name: settings_title; background: rgba(255, 255, 255, 0); color: rgba(3, 115, 252, 1); font-size: 18px; left: 0px; position: sticky; right: 0px; text-align: center; top: 0px; z-index: 1000 } .internal-fsb-element.-fsb-self-d7d59dd2, .internal-fsb-element.-fsb-preset-d7d59dd2 { -fsb-reusable-id: d7d59dd2; -fsb-reusable-name: settings_tab; -webkit-border-radius: 3px 3px 3px 3px; background: rgba(3, 115, 252, 0.15); border-bottom-color: rgba(0, 174, 255, 1); border-bottom-style: solid; border-bottom-width: 2px; border-left-style: none; border-radius: 3px 3px 3px 3px; border-right-style: none; border-top-style: none; color: rgba(3, 115, 252, 1); padding-bottom: 2px; padding-top: 2px } .internal-fsb-element.-fsb-self-c8d71ae6, .internal-fsb-element.-fsb-preset-c8d71ae6 { -fsb-reusable-id: c8d71ae6; -fsb-reusable-name: settings_option_label; font-size: 13px; margin-bottom: 5px; padding-left: 0px; padding-right: 5px; padding-top: 7px; text-align: right } .internal-fsb-element.-fsb-self-24bc9bae, .internal-fsb-element.-fsb-preset-24bc9bae { -fsb-reusable-id: 24bc9bae; -fsb-reusable-name: settings_option; padding-left: 0px; padding-right: 0px } .internal-fsb-element.-fsb-self-baed14b5, .internal-fsb-element.-fsb-preset-baed14b5 { -fsb-reusable-id: baed14b5; -fsb-reusable-name: settings_note; background: rgba(3, 115, 252, 0.15); font-size: 14px; margin-bottom: 15px; padding-bottom: 8px; padding-top: 8px } .internal-fsb-element.-fsb-self-12bc19e4, .internal-fsb-element.-fsb-preset-12bc19e4 { -fsb-reusable-id: 12bc19e4; -fsb-reusable-name: settings_group; border-bottom-color: rgba(3, 115, 252, 1); border-bottom-style: solid; border-bottom-width: 2px; margin-bottom: 15px; margin-top: 10px; padding-left: 0px } .internal-fsb-element.-fsb-self-245bc127, .internal-fsb-element.-fsb-preset-245bc127 { -fsb-background-type: linear; -fsb-reusable-id: 245bc127; -fsb-reusable-name: settings; -webkit-border-radius: 8px 8px 8px 8px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%); border-bottom-color: rgba(3, 115, 252, 1); border-bottom-style: solid; border-bottom-width: 5px; border-left-color: rgba(3, 115, 252, 1); border-left-style: solid; border-left-width: 5px; border-radius: 8px 8px 8px 8px; border-right-color: rgba(3, 115, 252, 1); border-right-style: solid; border-right-width: 5px; border-top-color: rgba(3, 115, 252, 1); border-top-style: solid; border-top-width: 5px; bottom: 20vh; left: 15vw; position: absolute; top: 20vh; width: 70vw } .internal-fsb-element.-fsb-self-a43dc1c9, .internal-fsb-element.-fsb-preset-a43dc1c9 { -fsb-inherited-presets: 08abd2c9; -fsb-reusable-id: a43dc1c9; -fsb-reusable-name: section; border-top-color: rgba(3, 115, 252, 1); border-top-style: solid; border-top-width: 1px } .internal-fsb-element.-fsb-self-08abd2c9, .internal-fsb-element.-fsb-preset-08abd2c9, .internal-fsb-element.-fsb-preset-bb6cddae, .internal-fsb-element.-fsb-preset-a43dc1c9 { -fsb-reusable-id: 08abd2c9; -fsb-reusable-name: note; color: rgba(156, 156, 156, 1); font-family: Courier Prime; font-size: 12px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; padding-top: 10px } .internal-fsb-element.-fsb-self-bb6cddae, .internal-fsb-element.-fsb-preset-bb6cddae { -fsb-inherited-presets: 08abd2c9; -fsb-reusable-id: bb6cddae; -fsb-reusable-name: link; -moz-text-decoration-line: underline; -webkit-text-decoration-line: underline; color: rgba(3, 115, 252, 1); cursor: pointer; text-align: center; text-decoration-line: underline } .internal-fsb-element.-fsb-self-12662a17, .internal-fsb-element.-fsb-preset-12662a17 { -fsb-inherited-presets: ; -fsb-reusable-id: 12662a17; -fsb-reusable-name: feature_title_smaller; color: rgba(255, 255, 255, 1.0); font-family: Roboto; font-size: 20px; font-weight: 400; text-align: center } .internal-fsb-element.-fsb-self-ab25187a, .internal-fsb-element.-fsb-preset-ab25187a { -fsb-inherited-presets: ; -fsb-reusable-id: ab25187a; -fsb-reusable-name: feature_title; color: rgba(255, 255, 255, 1); font-family: Roboto; font-size: 24px; font-weight: 400; text-align: center } .internal-fsb-element.-fsb-self-d2a8edc9, .internal-fsb-element.-fsb-preset-d2a8edc9 { -fsb-reusable-id: d2a8edc9; -fsb-reusable-name: feature_subtitle; color: rgba(255, 255, 255, 1); font-family: Roboto; font-size: 16px; font-weight: 300; text-align: center } .internal-fsb-element.-fsb-self-49d77136, .internal-fsb-element.-fsb-preset-49d77136 { -fsb-reusable-id: 49d77136; -fsb-reusable-name: feature_hr; background: rgba(255, 255, 255, 1); height: 3px; margin-bottom: 15px; margin-top: 10px } .internal-fsb-element.-fsb-self-4d8aded9, .internal-fsb-element.-fsb-preset-4d8aded9 { -fsb-reusable-id: 4d8aded9; -fsb-reusable-name: feature; background: rgba(0, 174, 255, 1); border-bottom-color: rgba(255, 255, 255, 1); border-bottom-style: solid; border-bottom-width: 1px; padding-bottom: 50px; padding-top: 50px } .internal-fsb-element.-fsb-self-1b650e66 > :first-child, .internal-fsb-element.-fsb-preset-1b650e66 > :first-child { -fsb-for-children: true; -fsb-reusable-id: 1b650e66; -fsb-reusable-name: box; display: block; height: 34px; width: 100% } @-webkit-keyframes fsb-animation-d0e675b7-651393e4 { 29.629629629629626% { background: rgba(0, 174, 255, 1); -webkit-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -moz-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -ms-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -o-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); } } @-moz-keyframes fsb-animation-d0e675b7-651393e4 { 29.629629629629626% { background: rgba(0, 174, 255, 1); -webkit-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -moz-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -ms-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -o-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); } } @-ms-keyframes fsb-animation-d0e675b7-651393e4 { 29.629629629629626% { background: rgba(0, 174, 255, 1); -webkit-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -moz-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -ms-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -o-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); } } @-o-keyframes fsb-animation-d0e675b7-651393e4 { 29.629629629629626% { background: rgba(0, 174, 255, 1); -webkit-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -moz-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -ms-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -o-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); } } @keyframes fsb-animation-d0e675b7-651393e4 { 29.629629629629626% { background: rgba(0, 174, 255, 1); -webkit-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -moz-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -ms-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); -o-animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); animation-timing-function: cubic-bezier(0, 0, 1.0000, 1.0000); } } @-webkit-keyframes fsb-animation-d0e675b7-722b0448 { 49.5% { background-position: 0px -15px; -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -ms-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -o-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); } } @-moz-keyframes fsb-animation-d0e675b7-722b0448 { 49.5% { background-position: 0px -15px; -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -ms-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -o-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); } } @-ms-keyframes fsb-animation-d0e675b7-722b0448 { 49.5% { background-position: 0px -15px; -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -ms-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -o-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); } } @-o-keyframes fsb-animation-d0e675b7-722b0448 { 49.5% { background-position: 0px -15px; -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -ms-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -o-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); } } @keyframes fsb-animation-d0e675b7-722b0448 { 49.5% { background-position: 0px -15px; -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -ms-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); -o-animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); animation-timing-function: cubic-bezier(0.42, 0, 0.5800, 1.0000); } } [internal-fsb-animation*="animation-group-d0e675b7"] [internal-fsb-guid="651393e4"]:not([internal-fsb-forward]), [internal-fsb-animation*="animation-group-d0e675b7"][internal-fsb-guid="651393e4"]:not([internal-fsb-forward]), [internal-fsb-animation*="animation-group-d0e675b7"] [internal-fsb-guid="651393e4"][internal-fsb-forward] > :first-child, [internal-fsb-animation*="animation-group-d0e675b7"][internal-fsb-guid="651393e4"][internal-fsb-forward] > :first-child { -webkit-animation-name: fsb-animation-d0e675b7-651393e4; -webkit-animation-delay: 0s; -webkit-animation-duration: 2.025s; -webkit-animation-iteration-count: infinite; -moz-animation-name: fsb-animation-d0e675b7-651393e4; -moz-animation-delay: 0s; -moz-animation-duration: 2.025s; -moz-animation-iteration-count: infinite; -ms-animation-name: fsb-animation-d0e675b7-651393e4; -ms-animation-delay: 0s; -ms-animation-duration: 2.025s; -ms-animation-iteration-count: infinite; -o-animation-name: fsb-animation-d0e675b7-651393e4; -o-animation-delay: 0s; -o-animation-duration: 2.025s; -o-animation-iteration-count: infinite; animation-name: fsb-animation-d0e675b7-651393e4; animation-delay: 0s; animation-duration: 2.025s; animation-iteration-count: infinite; } [internal-fsb-animation*="animation-group-d0e675b7"] [internal-fsb-guid="722b0448"]:not([internal-fsb-forward]), [internal-fsb-animation*="animation-group-d0e675b7"][internal-fsb-guid="722b0448"]:not([internal-fsb-forward]), [internal-fsb-animation*="animation-group-d0e675b7"] [internal-fsb-guid="722b0448"][internal-fsb-forward] > :first-child, [internal-fsb-animation*="animation-group-d0e675b7"][internal-fsb-guid="722b0448"][internal-fsb-forward] > :first-child { -webkit-animation-name: fsb-animation-d0e675b7-722b0448; -webkit-animation-delay: 0s; -webkit-animation-duration: 10s; -webkit-animation-iteration-count: infinite; -moz-animation-name: fsb-animation-d0e675b7-722b0448; -moz-animation-delay: 0s; -moz-animation-duration: 10s; -moz-animation-iteration-count: infinite; -ms-animation-name: fsb-animation-d0e675b7-722b0448; -ms-animation-delay: 0s; -ms-animation-duration: 10s; -ms-animation-iteration-count: infinite; -o-animation-name: fsb-animation-d0e675b7-722b0448; -o-animation-delay: 0s; -o-animation-duration: 10s; -o-animation-iteration-count: infinite; animation-name: fsb-animation-d0e675b7-722b0448; animation-delay: 0s; animation-duration: 10s; animation-iteration-count: infinite; } 
script(type="text/javascript").
  var __animationHelperDelayedRegisterings = [], __animationHelperDelayedAddings = [];
  var AnimationHelper = {
    extensions: {},
    register: function(animationId, extensionInfo) {
      __animationHelperDelayedRegisterings.push(arguments);
      AnimationHelper.extensions[animationId] = extensionInfo;
    },
    add: function(activeAnimationGroups) {
      __animationHelperDelayedAddings.push(arguments);
      
      for (let animation of activeAnimationGroups) {
        var extensionInfo = AnimationHelper.extensions[animation];
        if (extensionInfo) {
          for (let i=0; i<extensionInfo.tracks.length; i++) {
            AnimationHelper.addPrestartStyles(animation, '0', extensionInfo.tracks[i].selectors || [], extensionInfo.tracks[i].properties || []);
          }
        }
      }
    },
    addPrestartStyles: (animationId, guid, selectors, properties) => {
      var prestartId = `prestart-${animationId}`;
      if (document.getElementById(prestartId)) return;
      
      var combinedStyleHashmap = {};
      
      for (var property of properties) {
        for (var selector of selectors) {
          var style = AnimationHelper.getPrestartStyle(guid, selector, property);
        
          if (style) {
            combinedStyleHashmap[property] = style;
            break;
          }
        }
      }
      
      if (Object.keys(combinedStyleHashmap).length != 0) {
        var element = document.createElement('style');
        element.setAttribute('type', 'text/css');
        element.setAttribute('id', prestartId);
        
        var lines = [];
        for (var selector of selectors) {
          lines.push(`[internal-fsb-animation*="animation-group-${animationId}"]${selector}, [internal-fsb-animation*="animation-group-${animationId}"] ${selector} { ${AnimationHelper.getInlineStyleFromHashMap(combinedStyleHashmap)} }`);
        }
        
        element.innerHTML = lines.join(' ');
        
        var firstStyleElement = document.head.getElementsByTagName('STYLE')[0] || null;
        document.head.insertBefore(element, firstStyleElement);
      }
    },
    getPrestartStyle: (guid, selector, property) => {
      var elements = Array.from(document.querySelectorAll(`[internal-fsb-guid="${guid}"]${selector}, [internal-fsb-guid="${guid}"] ${selector}`));
      
      if (elements.length != 0) {
        var computedStyle = window.getComputedStyle(elements[0], null);
        return computedStyle[property] || null;
      }
      
      return null;
    },
    getInlineStyleFromHashMap: (hash) => {
      var results = [];
      for (var key in hash) {
        if (hash.hasOwnProperty(key) && hash[key] != null) {
          results.push(key + ': ' + hash[key]);
        }
      }
      return results.sort().join('; ');
    }
  };
  window.AnimationHelper !== undefined && (function() { AnimationHelper.register('d0e675b7', {"tracks":[{"keyframes":[],"selectors":["[internal-fsb-guid=\"651393e4\"]"],"properties":["background"],"delay":0,"repeat":-1,"total":2.025},{"keyframes":[],"selectors":["[internal-fsb-guid=\"722b0448\"]"],"properties":["background-position"],"delay":0,"repeat":-1,"total":10}]}); AnimationHelper.add(["d0e675b7"]); })();
